<h2 class="content-block">Details</h2>
<table class="content-block"> 
  <thead>
    <tr>
      <th>Frame Position</th>
      <th>Frame Index</th>
      <th>Camera</th>
      <th>Class</th>
      <th>Position X</th>
      <th>Position Y</th>
      <th>Time</th>
      <th>Image</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let defect of defectsData">
      <td>{{ defect.frame_pos }}</td>
      <td>{{ defect.frame_index }}</td>
      <td>{{ defect.camera }}</td>
      <td>{{ defect.class }}</td>
      <td>{{ defect.pos_x }}</td>
      <td>{{ defect.pos_y }}</td>
      <td>{{ defect.time * 1000 | date:'d/M/yy, h:mm:ss a' }}</td>
      <td><img src="data:image/jpeg;charset=utf-8;base64, {{defect.img_base64}}" alt=""></td>
    </tr>
  </tbody>
</table>
