<div class="content-block main-panel-header">
  <div class="main-panel-top-wrapper">

    <form [formGroup]="form" class="upload-form" (ngSubmit)="onSubmit()">
      <input id="file-input" type="file" (change)="onFileSelected($event)" class="file-input" />
      <button type="submit" class="submit-button" [class.active]="form.get('file')?.value">Upload</button>
      <label for="file-input" class="file-label" [class.active]="form.get('file')?.value">
        <span>{{ loading ? 'Uploading...' : (form.get('file')?.value?.name || 'Choose feed') }}</span>
        <span class="upload-icon" *ngIf="!loading">&#8679;</span> <!-- Unicode for upload arrow -->
        <span class="spinner" *ngIf="loading"></span>
      </label>
    </form>

    <div class="legend">
      <div *ngFor="let className of getClassNames()" class="legend-item">
        <div class="color-ball" [style.background-color]="classes[className]"></div>
        <div class="class-name">{{ className | titlecase }}</div>
      </div>
    </div>
  </div>

  <!-- Dropdown for model selection -->
  <div [formGroup]="form" class="main-panel-dropdown">
    <span>Select model: </span>
    <select formControlName="model">
      <option *ngFor="let model of models" [value]="model">{{ model }}</option>
    </select>
  </div>
</div>

<div class="content-block" style="margin-top: 1rem;">
  <div class="dx-card responsive-paddings">
    <div class="main-panel">

      <div class="options-bar">
        <span>Session: {{ session_id }}</span>
        <!-- <div class="options-bar-buttons">
          <button class="status-bar__button status-bar__button--play">
            <span class="material-icons">▶</span>
          </button>
          <button class="status-bar__button status-bar__button--pause">
            <span class="material-icons">❚❚</span>
          </button>
          <button (click)="clearSessions()" class="status-bar__button status-bar__button--reset">
            <span class="material-icons">♻</span>
          </button>
        </div> -->
      </div>

      <div class="upper-pannel">
        <div class="left-side">
          <ng-container *ngIf="currentImageSource; else camdefault" >
            <img class="fill-div" [src]="currentImageSource">
          </ng-container>
          <ng-template #camdefault>
            <img class="fill-div" src="assets/cam_default.jpg">
          </ng-template>
        </div>

        <div class="right-side">
          <ng-container *ngIf="currentRollmapImage; else statsdefault" >
            <div *ngIf="currentRollmapImage" class="carousel-container">
              <img class="carousel-image" [src]="currentRollmapImage">
              <div class="carousel-arrows">
                <span (click)="prevRollmapImage()" class="arrow left-arrow">&lt;</span>
                <span (click)="nextRollmapImage()" class="arrow right-arrow">&gt;</span>
              </div>
            </div>

          </ng-container>
          <ng-template #statsdefault>
            <img class="fill-div" src="assets/stats_default.jpg">
          </ng-template>

        </div>
      </div>

      <div class="status-bar">
        <span class="status-bar__item">Elapsed time (s): {{ summaryData.elapsed_time }}</span>
        <span class="status-bar__item">Captures: {{ summaryData.captures }}</span>
        <span class="status-bar__item">Speed (m/min): {{ summaryData.speed }}</span>
        <span class="status-bar__item">Position (m): {{ summaryData.position }}</span>
        <span class="status-bar__item">Defect Count: {{ summaryData.defect_count }}</span>
      </div>
    </div>

</div>
</div>
